<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login App</title>
</head>
<body>

  <h1>Login App</h1>

  <!-- Registration Form -->
  <h2>Register</h2>
  <form id="registerForm">
    <input type="text" id="registerUsername" placeholder="Username" required />
    <input type="password" id="registerPassword" placeholder="Password" required />


    <button type="submit">Register</button>
  </form>

  <!-- Login Form -->
  <h2>Login</h2>
  <form id="loginForm">
    <label for="loginUsername">Username:</label>
    <input type="text" id="loginUsername" placeholder="username" required />
    <label for="loginPassword">Password:</label>
    <input type="password" id="loginPassword" placeholder="password" required />
    <button type="submit">Login</button>
  </form>

  <script src="../static/scripts.js">
  </script>
</body>
</html>
